.navbar .navbar-collapse {
    text-align: center;
}

.a-link {
    text-decoration: none;
    color: black;
}
li:not(:last-child) {
    margin-bottom: 3px;
}
.legend {
    width: 500px;
    height: auto;
}
